*{


box-sizing: border-box;

}

#menu1 {

background-color: gray;
width: 30%;
height: 250px;
padding: 10px;
margin: 10px;
border: solid black 5px;
float: left;
position: relative;
}

#menu2 {

background-color: gray;
width: 30%;
height: 250px;
padding: 10px;
margin: 10px;
border: solid black 5px;
float: left;
position: relative;
}

#menu3 {

background-color: gray;
width: 30%;
height: 250px;
padding: 10px;
margin: 10px;
border: solid black 5px;
float: left;
position:relative;
}

h1 {

text-align: center;


}

span {

position: absolute;
top:0px;
right: 0px;
width:40%;
font-size:1.2em;
padding:0;
margin:0;

}

#title1 {


border: solid black 2px;
background-color: orange;
text-align: center;
padding:0;
margin:0;
}


#title2 {


border: solid black 2px;
background-color: green;
text-align: center;
padding:0;
margin:0;


}

#title3 {


border: solid black 2px;
background-color: blue;
text-align: center;
padding:0;
margin:0;
}

p {

position: relative;
top:30%;

}

@media only screen and (min-width:992px) {

	#menu1 {
		width: 30%;	
	}
	
	#menu2 {
		width: 30%;	
	}

	#menu3 {
		width: 30%;
	}
}


@media only screen and (min-width: 768px) and (max-width:991px) {

	#menu1 {
		width: 45%;	
	}
	
	#menu2 {
		width: 45%;	
	}

	#menu3 {
		width: 92%;
	}
}

@media only screen and (max-device-width: 767px){

	#menu1 {
		width: 90%;	
	}
	
	#menu2 {
		width: 90%;	
	}

	#menu3 {
		width: 90%;
	}

}

